<h1>Posts</h1>
 
<table>
  <tr>
    <th>Bru Name </th>
    <th>Title</th>
    <th>Body</th>
  </tr>
 
  <% @posts.each do |post| %>
    <tr>
      <td><%= post.bru_name %></td>
      <td><%= link_to post.title, post_path(post) %></td>
      <td><%= post.body %></td>
      <td><%= link_to 'Delete', post_path(post),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table><br>

<%= link_to 'New Post', new_post_path %>

<!-- Create the rest of your views in the posts folder -->
